@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

.carousel-wrapper {
  height: 50rem;
}
/* .carousel-item video {
  height: auto;
  width: auto;
} */

.carousel-item video {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* Navigation */
.hover-style h1 {
  color: #666;
  display: inline-block;
  margin: 0;
}
.hover-style h1:after {
  display: block;
  content: '';
  border-bottom: solid 3px #ef4444;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.active-link h1 {
  display: block;
  content: '';
  border-bottom: solid 3px #ef4444;
}
h1:hover:after {
  transform: scaleX(1);
}

h1.fromLeft:after {
  transform-origin: 100% 50%;
}

/* Home Page */
.border-style:after {
  display: block;
  content: '';
  width: 5rem;
  margin-top: 1rem;
  border-bottom: solid 3px #ef4444;
}

/* Media Queries */

/* Large */
@media only screen and (max-width: 2100px) {
  .carousel-wrapper {
    height: 50rem;
    width: 100%;
  }
}

/* iPad Pro */
/* Landscape */
@media only screen and (max-width: 1366px) and (orientation: landscape) {
  .carousel-wrapper {
    height: 40rem;
  }
}

/*Portrait*/
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .carousel-wrapper {
    height: 30rem;
  }
}

/* Landscape */
@media only screen and (max-width: 1112px) and (orientation: landscape) {
  .carousel-wrapper {
    height: 30rem;
  }
}

/*Portrait*/
@media only screen and (max-width: 834px) and (orientation: portrait) {
  .carousel-wrapper {
    height: 24rem;
  }

  .call-out-box:before {
    display: inline-block;
    position: absolute;
    content: '';
    height: 40px;
    width: 220px;
    left: 55%;
    transform: translate(-290px, -160px);
    background-color: white;
  }

  .call-out-box2:before {
    display: inline-block;
    position: absolute;
    content: '';
    height: 40px;
    width: 220px;
    left: 55%;
    transform: translate(0%, -160px);
    background-color: white;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .carousel-wrapper {
    height: 16rem;
  }
}
